
<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>EXPOSED</title>
		<style type="text/css">
			body {
				background-image: url('http://i1004.photobucket.com/albums/af163/imnu11/openbg.gif');
				font-size: 20px;
				font-family: 'Graduate';
				color: #FFF;
				margin-top: 15px;
				cursor: url(http://hellox.persiangig.com/DefacePage/negro.cur), progress;
			}

		</style>
	</head>

	<body oncontextmenu="return false" onkeydown="return false">

		<center>
			<link rel="icon" type="image/png" href="http://i.imgur.com/dYHxyzW.png" />
			<br>
			<h1><font color=#ffffff><b>Exposed <p><center><font color=#FF0000> <font color=#ffffff></font> <font color=#ffffff> </font> </font></b></h1>
			<h1><font color=#ffffff><b>BY: Def4cer<p><center><font color=#FF0000> <font color=#ffffff></font> <font color=#ffffff> </font> </font></b></h1>
			<img src="http://static3.businessinsider.com/image/56e9d825dd08955e388b4637-1190-625/the-anonymous-attack-on-donald-trump-is-setting-off-a-hacker-civil-war.jpg"300x" height="300x">
			<br>
			<div>
				<center>
					<h2><font color=#FF0000>Dados da vitima<font color=#ffffff> :</font></h2>
					<p>
					<center><font color=#ffffff>
Nome:Igor Venancio <br>
Número CNS: 898004657564007<br>
Sexo: Indefinido (Viado)<br>
Data de Nascimento: 24/09/2002<br>
Raça/Cor: Branco<br>
CPF: -<br>			
Nacionalidade: Brasileiro<br>
País de Nascimento: Brasil<br>	
Município Nascimento: Itajai - Santa Catarina SC<br>
Nome Social/Apelido: IgoorBr<br>
Nome da mãe: Fatima Cristina Daniela Serpa Venancio<br>
Nome do pai: -<br>
<h2><font color=#FF0000>Contato</font><font color=#ffffff> :</font></h2><p>
DDD: 47<br>
Número: (47) 9 9984-5809 <br>
Facebook: https://www.facebook.com/profile.php?id=100005238915781&fref=ts<br>
Skype: igor.venancio5<br>                      
<h2><font color=#FF0000>Endere&ccedil;o<font color=#ffffff> :</font></h2></font>
<p>CEP: 88.301-001<br>	
Município de Residência: Itajai<br>	
Numero: 557<br>
Bairro: Centro<br>
País de Nascimento: Brasil<br>
Município Nascimento: Itajai - SC<br>

						</div>
						<embed src="https://www.youtube.com/v/ ?feature=player_detailpage&autoplay=1&star=01"-flash"wmode=""width="l"height="l"></embed>
					<p>
						<script language="JavaScript">
							VIH_BackColor = "black";
							VIH_ForeColor = "red";
							VIH_FontPix = "15";
							VIH_DisplayFormat = "     IP Adress Currently Accessing %%IP%%";
							VIH_DisplayOnPage = "yes";
						</script>

						<script language="JavaScript" src="http://scripts.hashemian.com/js/visitorIPHOST.js.php"></script>
					</p>
			</div>
		</center>
	</body>
	<center>
		<embed type='application/x-shockwave-flash' src='http://static.4shared.com/flash/player/5.10/player.swf' style='' allowscriptaccess='always' allowfullscreen='true' height='0' width='0' quality='high' flashvars='file=https://youtu.be/bM7SZ5SBzyY&autostart=true&repeat=always'>
</html>
